<!DOCTYPE html>
<html>
<head>
	<title>LIVE STREAMING!!!!</title>
</head>
<body bgcolor="teal">
<p align="center"><iframe src="https://appear.in/StreetUser1" width="800" height="640" frameborder="0"></iframe></p>
<h1 align="center" style="color: white">Donate to encourage this talent.</h1>
<p align="center"><a href="https://test.instamojo.com/@StreetUser1/" rel="im-checkout" data-behaviour="remote" data-style="dark" data-text="Donate"></a></p>
<script src="https://d2xwmjc4uy2hr5.cloudfront.net/im-embed/im-embed.min.js"></script>
</div>
</body>
</html>